.free-shipping {
  align-items: center;
  background-color: white;
  display: flex;
  padding: 0 5px;
  width: 111px;
}

.free-shipping .free-trunck {
  background-color: white;
  flex: 0;
  height: 20px;
  margin-right: 5px;
}
